body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

@for $i from 1 through 10 {
    .col-#{$i} {
        width: $i * 10%;
    }
    .col-offset-#{$i} {
        margin-left: $i * 10%;
    }
}

@for $i from 1 through 12 {
    .item-#{$i} {
        width: $i * 8.3333%;
    }
    .item-offset-#{$i} {
        margin-left: $i * 8.333%;
    }
}

@media (max-width: 800px) {
    @for $i from 1 through 10 {
        .col-xs-#{$i} {
            width: $i * 10%;
        }
        .col-offset-xs-#{$i} {
            margin-left: $i * 10%;
        }
        .col-offset-#{$i} {
            margin-left: 0;
        }
    }
    @for $i from 1 through 12 {
        .item-xs-#{$i} {
            width: $i * 8.3333%;
        }
        .item-offset-xs-#{$i} {
            margin-left: $i * 8.333%;
        }
        .item-offset-#{$i} {
            margin-left: 0;
        }
    }
}

// 左侧*3
.left_top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.left_middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left_bottom {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// 居中 *3
.center_top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.center_middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center_bottom {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

// 右侧*3
.right_top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.right_middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right_bottom {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}